@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Sarabun", sans-serif;
  }
}

@layer components {
  .title {
    @apply text-xl font-bold;
  }

  .table tr {
    display: grid;
    grid-template-columns: repeat(11, 120px);
    text-align: left;
    overflow-wrap: break-word;
    text-transform: capitalize;
  }
  .table td {
    padding: 12px;
    font-size: 12px;
  }
  .table th {
    padding: 12px;
    font-size: 14px;
  }
}
